@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;1,900&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

.bg-body-tertiary {
  background: rgba(255, 255, 255, 0.3) !important;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-size: 1.5rem;

  width: 100%;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: 600;
}

.navbar-collapse {
  text-align: center;
}

@media (min-width: 2560px) {
  .container {
    margin-left: auto;
  }
}

@media (min-width: 320px) and (max-width: 1024px) {
  .contact-logo {
    display: none;
  }
}
