.form-wrapper {
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.6);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 20px;
  max-width: 500px;

  margin-top: 161px;
}

.form-input,
.form-textarea {
  border: none;
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: none;
  resize: none;

  color: black;
}

h2 {
  color: black;
  margin-bottom: 20px;
}

.form-input::placeholder,
.form-textarea::placeholder {
  background-color: white;
  color: black;
}

.send-button {
  width: 100%;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 15px;
}

.button-div {
  width: 100%;
}
