@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;1,900&display=swap");

body {
  font-family: Poppins;
}

.cities-wrapper {
  padding-left: 6.5rem;
  padding-top: 2.1rem;
  font-weight: 600;
}

.menu-open {
  margin-left: 380px;
  transition: 0.3s ease-in-out;
}

div {
  transition: 0.5s ease-out;
}
