.countrydetails-headline-h1 {
  font-weight: 600;
  text-transform: uppercase;
}

.row-p-img {
  padding: 2rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.5);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.countrydetails-read-more-button {
  margin-left: 4rem;
  display: flex;
}

.countrydetails-button-back {
  margin-left: 0.5rem;
  margin-top: 2px;
}

.countrydetails-body-quote {
  text-align: center;
}

.countrydetails-map {
  height: 200px;
  width: 200px;
}

.country-images {
  border-radius: 30px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
}

.name-population {
  margin-top: 2rem;
}

.countrydetails-read-more-button {
  margin-bottom: 100px;
}

.row-p-img-quote {
  padding: 2rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
  border-radius: 30px;
  background: #00bfff;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

@media (max-width: 768px) {
  .row-p-img {
    flex-direction: column;
  }
}

@media (min-width: 320px) and (max-width: 1024px) {
  .name-population {
    flex-direction: column;

    margin-left: 3rem;
  }
  .name-population img,
  h1 {
    margin-right: 3rem;
  }

  .countrydetails-read-more-button {
    margin-left: 2.8rem;
  }
}
