@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;1,900&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url("./assets/glasmorphicsheet4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Poppins;
}

.card-wrapper {
  width: 22.2rem !important;
  padding: 0;
  margin-left: 6.5rem;
  margin-top: 2rem;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.1) !important;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.profile-image {
  height: 250px;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  background-color: none;
}
.wide-row {
  width: 100%;
  padding: 0;
}

.read-more-button {
  font-size: 0.9rem !important;
  padding: 10px;
  border-radius: 30px;
  background: rgba(252, 88, 255, 0.6);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  color: black;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.text-wrapper {
  font-weight: 400;
}

.lottie-loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sound-image:hover {
  cursor: pointer;
}

.drop-down-button {
  font-size: 0.9rem !important;
  padding: 10px;
  border-radius: 30px;
  background: rgba(252, 88, 255, 0.6);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  color: black;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  z-index: 2;
}
.drop-down-button:hover {
  background-color: rgba(252, 88, 255, 0.6);
}

.dropdown-item:hover {
  color: black;
  background-color: transparent;
}
.dropdown-item:focus {
  background-color: transparent !important;
}

.dropdown-menu {
  background: rgba(252, 88, 255, 1);

  color: black;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  z-index: 2;
}

.dropdown-menu:focus {
  background-color: transparent !important;
}

@media (min-width: 2560px) {
  .col-custom {
    margin-left: 0.8rem;
    width: 15% !important;
  }
  .cities-wrapper {
    padding-left: 7.5rem;
  }
  .drop-down-button {
    margin-right: 7rem !important;
    font-size: 0.9rem !important;
    padding: 10px;
    border-radius: 30px;
    background: rgba(252, 88, 255, 0.6);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    color: black;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    z-index: 2;
  }
}

@media (min-width: 1700px) {
  .col-custom {
    flex: 0 0 auto;
    width: 24%;
  }
  .drop-down-button {
    margin-right: 5rem;
    font-size: 0.9rem !important;
    padding: 10px;
    border-radius: 30px;
    background: rgba(252, 88, 255, 0.6);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    color: black;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    z-index: 2;
  }
}

@media (min-width: 1440px) and (max-width: 1699px) {
  .card-wrapper {
    margin-left: 4rem;
    width: 22.2rem;
  }
  .drop-down-button {
    margin-right: 5rem;
    font-size: 0.9rem !important;
    padding: 10px;
    border-radius: 30px;
    background: rgba(252, 88, 255, 0.6);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    color: black;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    z-index: 2;
  }

  .cities-wrapper {
    margin-left: 4rem;
    padding-left: 0;
  }
}

@media (min-width: 1200px) and (max-width: 1390px) {
  .card-wrapper {
    margin-left: 2.4rem;
    width: 21rem !important;
  }
  .drop-down-button {
    margin-right: 5rem;
    font-size: 0.9rem !important;
    padding: 10px;
    border-radius: 30px;
    background: rgba(252, 88, 255, 0.6);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    color: black;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    z-index: 2;
  }
}

@media (min-width: 1024px) and (max-width: 1190px) {
  .card-wrapper {
    width: 22.2rem !important;
  }
  .drop-down-button {
    margin-right: 9rem !important;
    font-size: 0.9rem !important;
    padding: 10px;
    border-radius: 30px;
    background: rgba(252, 88, 255, 0.6);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    color: black;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    z-index: 2;
  }

  .cities-wrapper {
    margin-left: 6.5rem;
    padding-left: 0;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .card-wrapper {
    margin-left: 1rem;
    width: 22.2rem !important;
  }
  .cities-wrapper {
    margin-left: 1.5rem;
    padding-left: 0;
  }
  .drop-down-button {
    margin-right: 1rem;
    font-size: 0.9rem !important;
    padding: 10px;
    border-radius: 30px;
    background: rgba(252, 88, 255, 0.6);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    color: black;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    z-index: 2;
  }
}

@media (min-width: 425px) and (max-width: 767px) {
  .card-wrapper {
    margin-left: 2.2rem;
    width: 22rem !important;
  }
  .cities-wrapper {
    text-align: center;
    padding-left: 0;
  }
}

@media (min-width: 375px) and (max-width: 424px) {
  .card-wrapper {
    margin-left: 1.8rem;
    width: 20rem !important;
  }
  .cities-wrapper {
    margin-right: 6rem;
  }
}

@media (min-width: 320px) and (max-width: 374px) {
  .card-wrapper {
    margin-left: 1rem;
    width: 18rem !important;
  }
  .cities-wrapper {
    text-align: center;
    padding-left: 0;
  }
  .drop-down-button {
    margin-right: 0;
    font-size: 0.9rem !important;
    padding: 10px;
    border-radius: 30px;
    background: rgba(252, 88, 255, 0.6);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    color: black;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    z-index: 2;
  }
}
