.bg-body-tertiary-footer {
  background: rgba(255, 255, 255, 0.6);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  z-index: 3;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-size: 1.5rem;
  position: relative;
  margin-top: 73px;
}

#container-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 320px) and (max-width: 767px) {
  #footer-name {
    margin-right: 1.6rem;
    font-size: 1rem;
  }
}
